@charset 'utf-8';

/*----------------------------------
 base
----------------------------------*/

html, body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    min-width: 1000px;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

/*----------------------------------
 logo
----------------------------------*/
.img_logo {
    width:10%;
    height:10%;
}

/*----------------------------------
 header
----------------------------------*/
.header {
    padding: 15px;
}

.header__logo {
    float: left;
    padding-top: 15px;
}

.required {
	color: #ff0000;
}

/*----------------------------------
 footer
----------------------------------*/
.footer {
    border-top: 1px solid #eee;
    margin-top: 100px;
    padding: 20px 15px 15px;
    position: relative;
}

.footer_contact dl {
    margin-bottom: 0;
}

.footer_contact dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.footer_contact dd {
    line-height: 1.7;
}

.footer_credit {
    position: absolute;
    right: 15px;
    bottom: 15px;
}